language: rust

matrix:
  include:
    - os: linux
      rust: stable
    - os: osx
      rust: stable

    - os: linux
      rust: beta
    - os: osx
      rust: beta

    - os: linux
      rust: nightly
    - os: linux
      rust: nightly-2017-02-03

  allow_failures:
    - rust: nightly

cache: cargo

# Specific clippy versions generally are only supported against specific
# nightly versions, so select a nightly/clippy combination known to work.
env:
  global:
    - CLIPPY_VERSION=0.0.113
    - NIGHTLY_VERSION=nightly-2017-02-03

install:
  # Steps copied from the rust-sdl2 project.
  - wget https://www.libsdl.org/release/SDL2-2.0.5.tar.gz -O sdl2.tar.gz
  - tar xzf sdl2.tar.gz
  - pushd SDL2-2.0.5 && ./configure && make && sudo make install && popd

  # Steps copied from rust-sdl2_mixer project.
  - wget https://www.libsdl.org/projects/SDL_mixer/release/SDL2_mixer-2.0.1.tar.gz
      -O sdl2_mixer.tar.gz
  - tar xzf sdl2_mixer.tar.gz
  - pushd SDL2_mixer-2.0.1 && ./configure && make && sudo make install && popd

before_script:
  - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == $NIGHTLY_VERSION ]]; then
      cargo install clippy --vers $CLIPPY_VERSION --force;
      cargo install rustfmt --force;
    fi'

script:
  - cargo build --verbose
  - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == $NIGHTLY_VERSION ]]; then
      cargo clippy -- --deny warnings;
    fi'
  - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == $NIGHTLY_VERSION ]]; then
      export PATH=$PATH:~/.cargo/bin &&
      cargo fmt -- --write-mode diff;
    fi'

notifications:
  email: false