environment:
  global:
    PROJECT_NAME: rust-belt

  matrix:
      - TARGET: x86_64-pc-windows-gnu
        CHANNEL: stable
      - TARGET: x86_64-pc-windows-msvc
        CHANNEL: beta

# Install Rust and Cargo
# Based on https://github.com/japaric/rust-everywhere/blob/master/appveyor.yml
install:
  - curl -sSf -o rustup-init.exe https://win.rustup.rs
  - rustup-init.exe --default-host %TARGET% --default-toolchain %CHANNEL% -y
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustc -Vv
  - cargo -V


# 'cargo test' takes care of building for us, so disable Appveyor's build stage. This prevents
# the "directory does not contain a project or solution file" error.
# source: https://github.com/starkat99/appveyor-rust/blob/master/appveyor.yml#L113
build: false

# Equivalent to Travis' `script` phase
# TODO modify this phase as you see fit
test_script:
  - cargo build --verbose
  - cargo run
